.checkout-container {
  max-width: 100rem;
  margin: 0 auto;
  .item-title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 3rem;
    span {
      color: rgb(57, 107, 245);
    }
  }
  .item-btn {
    display: flex;
    justify-content: center;
    .item-btn-first {
      padding: 0.6rem 1rem;
      border-radius: 0.2rem;
      background-color: rgb(245, 242, 242);
    }
    .item-btn-second {
      padding: 0.6rem 1rem;
    }
  }
  .checkoutselect-container {
    .image-left {
      width: 40rem;
    }
    .checkout-select {
        width: 20rem;
        padding: 0.5rem;
        margin-left: 1rem;
        box-shadow: 0 0 10px 2px rgb(0 0 0 / 0.1);
      .select-name {
        display: flex;
        justify-content: center;
        background-color: orange;
        color: white;
        width: 8rem;
        transform:  translateY(-1.25rem);
        border-radius: 0.3rem;
      }
    }
    .checkout-title{
        font-weight: 500;
        margin-top: 1rem;
    }
    .checkout-content{
        margin-top: 1rem;
    }
    .feature{
        display: flex;
        padding: 0.5rem 1rem ;
        .feature-icon{
          padding: 0.3rem 0.5rem;
          border-radius: 100rem;
          background-color: rgb(43, 97, 243);
          color: white;
        }
    }
    .checkout-btn{
      padding: 0.5rem 1rem;
      background-color: black;
      color: white;
      border-radius: 0.3rem;
    }
  }
}
