.navbar-container {
  margin-top: 1rem;
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-radius: 100rem;
  padding: 0.6rem 1rem;
  background-color: #215fbd;
  color: aliceblue;
  .navitems-left {
    .logo {
        font-size: 1.5rem;
        margin-right: 4rem;
    }
    .navitem div:nth-child(1) {
      color: aqua;
    }
    .navitem div{
        margin-right: 4rem;
        font-size: 1rem;
        font-weight: 500;
    }
  }
  .navitems-right {
    .nav-button{
        padding: 0.5rem 0.8rem;
        border-radius: 100rem;
        border: 0.06rem solid #fff;
        font-weight: 500; 
    }
    .toggle-button{
        padding: 0.5rem 1rem;
        border-radius: 100rem;
        background-color: black;
        margin-left: 1rem;

        div:nth-child(1){
            border-radius: 100rem;
            padding:0.2rem 1.5rem;
            background-color: aqua;
            color: black;
            font-size: 1rem;
            font-weight: 500;
        }div:nth-child(2){
            border-radius: 100rem;
            padding:0.2rem 1.5rem;
            font-size: 1rem;
            font-weight: 500;
        }
    }
    .login-button{
        font-size: 1rem;
        font-weight: 500;
        margin-left: 1rem;
    }
  }
}
